@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS RESET (Modern) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Typography foundation */
html {
  font-size: clamp(14px, 1vw + 10px, 18px);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

/* Type scale steps */
:root {
  --step--2: clamp(0.8rem, 0.8vw, 0.9rem);
  --step--1: clamp(0.9rem, 0.9vw, 1rem);
  --step-0: clamp(1rem, 1vw, 1.125rem);
  --step-1: clamp(1.25rem, 1.5vw, 1.5rem);
  --step-2: clamp(1.6rem, 2vw, 2rem);
  --step-3: clamp(2rem, 3vw, 3rem);
  --step-4: clamp(2.5rem, 4vw, 4rem);
}

body {
  min-height: 100vh;
  font-size: var(--step-0);
  font-family: "Roboto";
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h2 {
  font-family: "Playfair Display";
}

/* Start of actual styling */

.hero-cont {
  display: flex;
  justify-content: center;
}

.hero {
  position: relative;
  z-index: 0;
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 90%;
  background-color: #0891b2;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  z-index: -1;
}

.hero-image-cont {
  --hero-padding: 20px;
  padding: var(--hero-padding);
  position: relative;
  z-index: 1;
}

.hero-image-cont img {
  display: block;
  width: 100%;
  max-width: 600px;
  border-radius: 0px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.hero-text-cont {
  position: absolute;
  bottom: calc(var(--hero-padding) / 0.8);
  left: calc(var(--hero-padding) * 1.5);
  right: var(--hero-padding);
  z-index: 1;
}

.hero-text {
  color: white;
  font-size: clamp(2rem, 8vw, 6rem);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.about-me-cont {
  padding: 20px;
  color: #535353;
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

.about-me-title,
.my-work-title {
  color: black;
  font-size: var(--step-4);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.about-me-text,
.details p:nth-of-type(2),
.details p:nth-of-type(3) {
  font-size: var(--step-1);
}

.header p,
.details p:nth-of-type(1) {
  font-size: var(--step-2);
}

.socials-icon-cont {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-icon-cont button {
  background-color: transparent;
  border: none;
  width: auto;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.socials-icon-cont img {
  width: 100%;
  height: 100%;
}

.my-work-cont {
  padding: 20px;
  margin-bottom: 30px;
}

.my-work-cards-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card-cont {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.upper-card-cont {
  flex: 0 0 65%;
  align-content: center;
  text-align: center;
  font-size: var(--step-3);
  font-family: "Playfair Display";
  padding: 20px;
  color: white;
}

.card-cont:nth-child(1) .upper-card-cont {
  background-color: #7c75ca;
}

.card-cont:nth-child(2) .upper-card-cont {
  background-color: #d88f39;
}

.card-cont:nth-child(3) .upper-card-cont {
  background-color: #5e8f4d;
}

.card-cont:nth-child(4) .upper-card-cont {
  background-color: #ca7599;
}

.card-cont:nth-child(5) .upper-card-cont {
  background-color: #4692d9;
}

.card-cont:nth-child(6) .upper-card-cont {
  background-color: #5e8f4d;
}

.lower-card-cont {
  padding: 20px;
}

.lower-card-cont .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-family: "Playfair Display";
  font-weight: 600;
}

.header {
  margin-bottom: 10px;
}

.button-array button {
  background-color: transparent;
  border: none;
  width: auto;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.button-array img {
  width: 100%;
  height: 100%;
}

.button-array {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description {
  color: #717171;
  font-size: var(--step--1);
}

.contact-me {
  background-color: #0891b2;
}

.contact-me-cont {
  color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 20px;
  max-width: 1920px;
  margin: 0 auto;
}

.details-cont {
  padding: 20px;
}

.details p {
  margin-bottom: 20px;
}

.details-cont h3 {
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 15px;
  font-size: var(--step-4);
}

.contact-me-cont img {
  width: clamp(300px, 100%, 1000px);
  height: auto;
}

.details button {
  background-color: transparent;
  border: none;
  width: auto;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.details-cont .button-array img {
  width: 100%;
  height: 100%;
}

.contact-me-img {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-cont .button-array {
  justify-content: center;
}

@media (min-width: 500px) {
  .hero-image-cont {
    --hero-padding: 50px;
  }

  .about-me-cont {
    padding: 50px;
  }

  .my-work-cont {
    padding: 50px;
    margin-bottom: 30px;
  }

  .contact-me-cont {
    grid-template-columns: 2fr 3fr;
  }

  .contact-me-img {
    padding: 50px;
  }

  .details-cont {
    padding: 50px;
  }
}

@media (min-width: 1200px) {
  .hero {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 0;
  }

  .hero-cont {
    justify-content: center
  }

  .about-me-cont {
    background: white;
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
    padding: 30px;
    margin-left: -60px; 
    position: relative;
    z-index: 2;
    text-align: left;
  }

  .about-me-title {
    text-align: left;
  }

  .socials-icon-cont {
    justify-content: flex-end;
  }

  .bg-shape::before {
    height: 100%;
  }
}
