<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/search" method="get">
      <label for="search">Search Users:</label>
      <input type="text" name="search" />
      <button>Search</button>
    </form>
    <ul>
      <% usernames.map( user => { %>
      <li><%= user.username %></li>
      <% }) %>
    </ul>
    <a href="/new">
      <button>Create user</button>
    </a>
    <a href="/delete">
      <button style="color: red">Delete all users</button>
    </a>
  </body>
</html>
